layout: false
---
<%
var keys = Object.keys(theme.menu);
%>

<%- partial('_partial/head') %>
	<body class="is-loading">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<ul class="links">
						<li><a href="/"><%- __(keys[0]) %></a></li>
						<li class="r-hide"><a href="javascript:;" class="generic"><%- __(keys[1]) %></a></li>
						<li class="r-hide"><a href="<%- url_for(theme.menu[keys[2]]) %>"><%- __(keys[2]) %></a></li>
						<li class="active"><a href="<%- url_for(theme.menu[keys[3]]) %>"><%- __(keys[3]) %></a></li>
					</ul>
				</nav>
				<nav class="right">
					<ul>
						<li><a href="#intro"><%- theme.intro %></a><i class="fa fa-caret-up" aria-hidden="true"></i></li>
						<li><a href="#one"><%- theme.what_i_do %></a><i class="fa fa-caret-up" aria-hidden="true"></i></li>
						<li><a href="#two"><%- theme.who_i_am %></a><i class="fa fa-caret-up" aria-hidden="true"></i></li>
						<li><a href="#work"><%- theme.my_work %></a><i class="fa fa-caret-up" aria-hidden="true"></i></li>
						<li><a href="#contact"><%- theme.contact %></a><i class="fa fa-caret-up" aria-hidden="true"></i></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="lazy main style1 dark fullscreen" data-original="/images/intro.jpg">
				<div class="content">
					<header>
						<h2><%- theme.intro_text.h %></h2>
					</header>
					<p><%- theme.intro_text.p %></p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="lazy main style2 right dark fullscreen" data-original="/images/one.jpg">
				<div class="content box style2">
					<header>
						<h2><%- theme.do_text.h %></h2>
					</header>
					<p><%- theme.do_text.p %></p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="lazy main style2 left dark fullscreen" data-original="/images/two.jpg">
				<div class="content box style2">
					<header>
						<h2><%- theme.am_text.h %></h2>
					</header>
					<p><%- theme.am_text.p %></p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2><%- theme.work_text.h %></h2>
						<p><%- theme.work_text.p %></p>
					</header>

					<!-- Gallery  -->
						<div class="gallery">

							<%//true: left, false:right
							var from = true;
							for (var key in theme.work_imgs)  {
							%>

							<article class="from-<%- from ? 'left' : 'right' %>">
								<a href="<%- theme.work_imgs[key][0] %>" data-poptrox="<%- theme.work_imgs[key][3] %>" class="image fit" style="background-image: url(<%- theme.work_imgs[key][1] %>); background-size: cover; background-position: center center" title="<%- theme.work_imgs[key][2] %>"><img  title="<%- theme.work_imgs[key][2] %>" alt=""></a>
							</article>

							<%
								from = !from;
							}
							%>
							<div style="clear:both;"></div>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2><%- theme.contact_text.h %></h2>
						<p><%- theme.contact_text.p %></p>
					</header>
					<div class="box">
						<form method="get" action="https://api.55to.top/email">
							<div class="field half first"><input type="text" name="name" placeholder="Name" required /></div>
							<div class="field half"><input type="email" name="email" placeholder="Email" required /></div>
							<div class="field"><textarea name="message" placeholder="Message" rows="6" required></textarea></div>
							<ul class="actions">
								<li><input type="submit" value="&ensp;&ensp;Leave&ensp;It&ensp;&ensp;" /> <span class="report" style="display: none;"> <a href="mailto:1600136170@qq.com">报告错误</a></span></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
                        <% for (icon in theme.icons) {
						if (theme.icons[icon]) {
							var names = icon.split('|');
                        %>
						<li><a href="<%- theme.icons[icon] %>" target="_blank" class="icon fa-<%- names.length > 1 ? names[1] : names[0] %>"><span class="label"><%- names[0] %></span></a></li>
                        <% }} %>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; <%- date(Date.now(), 'YYYY') %> <a href="https://c.55to.top" target="_blank" alt="廖建" title="廖建">JERRY</a></li>
						<li><%- __('design') %>: <%- link_to('https://html5up.net', 'HTML5 UP', {external: true}) %></li>
						<li><%- __('theming') %>: <a href="https://github.com/lrnman/mayBe" target="_blank" alt="廖建" title="廖建">JERRY</a></li>
						<li><%- __('powerby') %>: <%- link_to('https://hexo.io', 'Hexo', {external: true}) %></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/me/main.js"></script>

	</body>
</html>