<!-- Main Content -->
<div class="tags-container">
    <!-- 标签云 -->
    <div id='tag_cloud' class="tags">
        <% site.tags.map(function(tag){  %>
        <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
        <% }) %>
    </div>

    <!-- 标签列表 -->

    <% site.tags.map(function(tag){  %>
    <div class="one-tag-list">
        <span class="fa fa-tag listing-seperator" id="<%= tag.name %>">
            <span class="tag-text"><%= tag.name %></span>
            <span class="signal">#</span>
        </span>
        <% tag.posts.map(function(post){  %>
        <div class="post-preview">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <a href="<%- url_for(post.path) %>"><%- post.title.replace('<br />', ' ') || theme.unnamed.toUpperCase() %></a>
            <span class="date">- <%- post.date.format('MM DD, YYYY') %></span>
        </div>
        <% }) %>
    </div>
    <% }) %>
    <div class="end">(END)</div>
</div>
