<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; <%- date(Date.now(), 'YYYY') %> <%- link_to('https://c.55to.top', '廖建', {external: true}) %> </li>
        <li>Design: <%- link_to('https://html5up.net', 'HTML5 UP', {external: true}) %></li>
        <li>Theming: <%- link_to('https://c.55to.top', 'Jerry', {external: true}) %></li>
        <li>powerby: <%- link_to('https://hexo.io', 'Hexo', {external: true}) %></li>
    </ul>
</div>
