<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; <%- date(Date.now(), 'YYYY') %> <a href="https://c.55to.top" target="_blank" alt="廖建" title="廖建">JERRY</a></li>
        <li><%- __('design') %>: <%- link_to('https://html5up.net', 'HTML5 UP', {external: true}) %></li>
        <li><%- __('theming') %>: <a href="https://c.55to.top" target="_blank" alt="廖建" title="廖建">JERRY</a></li>
        <li><%- __('powerby') %>: <%- link_to('https://hexo.io', 'Hexo', {external: true}) %></li>
        <li><p style="display: inline">Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p></li>
    </ul>
</div>
